@page
@model StudentManagingSystem.Pages.ClassroomPage.AddClassRoomModel
@{
}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="AddClassRoom">Class List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add Class</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    <div class="form-group row">
                        <label asp-for="ClassAddRequest.ClassName" class="col-sm-12 col-md-2 col-form-label">Class Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="ClassAddRequest.ClassName" class="form-control" type="text" placeholder="Class name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ClassAddRequest.ClassCode" class="col-sm-12 col-md-2 col-form-label">Class Code</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="ClassAddRequest.ClassCode" class="form-control" type="text" placeholder="Class code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassAddRequest.DepartmentId">Department</label>
                        <select asp-for="ClassAddRequest.DepartmentId" asp-items="@Model.Depts" class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;">
                            @* @foreach(var item in Model.ListDept){

                            <option asp-for="ClassAddRequest.DepartmentId" value="@item.Id">@item.DepartmentName</option>
                            }*@
                        </select>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ClassAddRequest.Status" class="col-sm-12 col-md-2 col-form-label">Status</label>
                        <div class="col-sm-12 col-md-10">
                            <select asp-for="ClassAddRequest.Status" class="custom-select col-12">
                                <option selected="">Choose...</option>
                                <option value="true">Hoạt động</option>
                                <option value="false">Không hoạt động</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-page="Class" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
